@media only screen and (min-width: 600px) {

    *{
        margin: 0;
        padding: 0;
         
    }


    @font-face {
        font-family: "Segoe-ui";
        src: url(gs1_content/gs1_fonts/Segoe_UI.ttf);
    }


    @font-face {
        font-family: "GothamMedium";
        src: url(gs1_content/gs1_fonts/GothamMedium.ttf);
    }

    @font-face {
        font-family: "Gotham-Book";
        src: url(gs1_content/gs1_fonts/Gotham-Book.otf);
    }


    @font-face {
        font-family: "Gotham-Thin";
        src: url(gs1_content/gs1_fonts/Gotham-Thin.otf);
    }

    @font-face {
        font-family: "Gotham-XThin";
        src: url(gs1_content/gs1_fonts/Gotham-XLight.otf);
    }

    @font-face {
        font-family: "GothamLightItalic";
        src: url(gs1_content/gs1_fonts/Gotham-XLightItalic.otf);
    }

    a {
         text-decoration: none;
    }


    /* Here Begins the css for the top navigation bar*/

    #toggleBtn {
        display: none;
}

    .top-navigation-bar {
        width: 100%;
        height: auto;
        background: white;
    }

    .top-navigation-bar-information {
        font-weight: 700;
        font-size: 12px;
       
        max-width: 19.5%;
    }

    .top-navigation-bar-links {
        display: flex;
        flex-direction: row;
        padding-top: 0.1%;
        right: 0;
    }

    .top-navigation-image-link {
        margin: 0 31% 0 0;
    }

    .top-navigation-image-link img {
        width: 100px;
        margin-left: 85%;
    }

    .top-navigation-link a {
 
        font-size: 90%;
        font-family: 'Segoe-ui';
    }

    .top-navigation-link a.active {
        text-decoration: overline #002b6c;
    }

    .top-link-styles {
        color: #002C6C;
    }

    .top-navigation-border-bottom:hover {
        border-bottom: #002C6C 2.5px solid;
        transition: 0.1s ease-in-out;
    }

    .top-navigation-link-A {
        text-align: center;
        border: 2px solid #F26334;
        border-radius: 8px;
        background: #F26334;
        color: white;
    }

    .top-navigation-link-B {
        border: 2px solid #F26334;
        border-radius: 8px;
        color: #F26334; 
    }

    /* Here Begins the css for the section one of the home page*/
    .home-page-section-one {
        width: 100%;
        height: 501px;
        background: rgb(0,44,108);
        background: linear-gradient(90deg, rgba(0,44,108,1) 0%, rgba(0,44,108,0) 40%), url(gs1_content/gs1_images/go-web-carousel-desktop-gs1-200m-products-global-registry-1400x460.png);
        background-size: cover;
    }

    .left-padding-for-home {
        padding-top: 5%;
        padding-bottom: 5%;
        padding-left: 8%;
    }

.hero-section-content {
    padding-top: 10%;
    padding-left: 8%;
}


    .home-page-section-one h1 {
        font-family: "Segoe-ui";
        font-size: 50px;
        width: 50%;
        color: white;
        font-weight: 100;
    }

    .home-page-section-one p {
        font-family: "Segoe-ui";
        color: white;
        padding-top: 2%;
        font-size: 17px;
        width: 60%;
    }
    /* Here Begins the css for the section two of the home page*/
    .home-page-section-two {
        width: 100%;
        height: auto;
        background: white;
    }

    .home-page-section-two-display {
        display: flex;
        flex-direction: row;
    }

    .section-two-display-A img {
        width: 86%;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
        margin-bottom: 2%;
    }

    .section-two-display-B {
        margin-right: 15%;
    }

    .section-two-display-B h1 {
        font-size: 40px;
        width: 72%;
        padding-bottom: 2%;
        color: #F26334;
        font-family: 'Segoe-ui';
        font-weight: 100;
    }

    .section-two-display-B p {
        
        font-weight: 600;
        font-size: 17px;
        width: 100%;
        margin-bottom: 8%;
    }

    .section-two-display-B a {
        
        font-weight: 600;
        font-size: 14px;
        color: white;
        background: #F26334;
        padding: 2.5% 5%;
        border-radius: 5px;
        transition: 0.5s ease-in-out;
    }

    .section-two-display-B a:hover {
        background: #ce5229;
    }

    /* Here Begins the css for the section three of the home page*/
    .home-page-section-three {
        width: 100%;
        height: auto;
        background: rgb(242,99,52);
        background: linear-gradient(90deg, rgba(242,99,52,1) 0%, rgba(242,99,52,0.8) 70%), url(gs1_content/gs1_images/carrefour.jpg);
        background-size: cover;
    }

    .home-page-section-three h1 {
        color: white;
        width: 39%;
        font-size: 40px;
        font-weight: 100;
        font-family: 'Segoe-ui';
        font-weight: 100;
    }

    .home-page-section-three-display {
        display: flex;
        flex-direction: row;
    }

    .section-three-display {
        width: 15%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .home-page-section-three-display {
        padding-top: 3%;
    }

    .section-three-display img {
        width: 38%;
    }

    .section-three-display h2 {
        font-size: 20px;
        padding-top: 4%;
        color: white;
         
        font-weight: 50;
    }

    .section-three-display p {
        font-size: 15px;
        padding-top: 2%;
        color: white;
        width: 100%;
        
        font-weight: 300;
    }
    /* Here Begins the css for the section four of the home page*/
    .home-page-section-four {
        width: 100%;
        height: auto;
        background: #F0F5FA;
    }

    .home-page-section-four h1 {
        font-size: 40px;
        font-family: 'Segoe-ui';
        color: #002b6c;
        padding-bottom: 2%;
        font-weight: 100;
    }

    .home-page-section-four p {
        font-size: 17px;
        color: #002b6c;
        font-family: "Gotham-Thin";
        width: 60%;
    }

    .home-page-section-four-display {
        display: flex;
        flex-direction: row;
        margin-top: 5%;
    }

    .section-four-display {
        display: flex;
        flex-direction: column;
        margin-right: 2%;
        background: white;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
        width: 25%;
        height: 177px;
    }

    .section-four-image-display {
        background: #e7e7e73d;
        height: 50%;
        width: 100%;
    }

    .section-four-image-display img {
        margin: 5%;
        position: relative;
        bottom: 17px;
    }

    .section-four-display p {
        padding: 10%;
        width: 80%;
        font-size: 20px;
        color: #002b6c;
        font-family: "Gotham-Thin";
        font-weight: 700;
        height: 70px;
    }


    /* Here Begins the css for the section five of the home page*/
    .home-page-section-five {
        width: 100%;
        height: auto;
        background: white;
    }

    .home-page-section-five h1 {
        font-size: 40px;
        font-family: "Gotham-Thin";
        color: #002b6c;
    }

    .home-page-section-five-display {
        display: flex;
        flex-direction: row;
        margin-top: 2%;
    }

    .section-five-display {
        display: flex;
        flex-direction: column;
        margin-right: 2%;
        background: #f3f3f3;
        width: 25%;
    }

    .section-five-display {
        border: 2px solid white;
        transition: 0.5s;
    }

    .section-five-display:hover {
        border: 2px solid #002b6c;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    }

    .section-five-display h1 {
        font-family: "GothamMedium";
        font-size: 20px;
        color: #002b6c;
    }


    .section-five-image-display img {
        width: 100%;
    }

    .section-five-info-display {
        padding: 3%;
        height: 77px;
        padding-left: 27px;
    }

    .section-five-info-display h3 {
        padding-top: 2%;
        font-size: 15px;
        font-weight: 300;
        font-family: "GothamMedium";
        color: #002C6C;
    }

    .section-five-info-display h5 {
        padding-top: 1%;
        font-size: 15px;
        font-weight: 200;
        font-family: "GothamLightItalic";
        color: #002C6C;
    }


    /* Here Begins the css for the section six of the home page*/
    .home-page-section-six {
        width: 100%;
        height: 50vh;
        background: #002b6c;
    }

    .subscribe {
        padding-top: 6%;
        padding-left: 8%;
    }

    .home-page-section-six label {
        font-size: 35px;
        font-family: "GothamMedium";
        color: white;
    }

    .home-page-section-six input {
        width: 25%;
        height: 20%;
        padding: 1% 1%;
        margin-top: 1%;
        border: none;
        border-radius: 5px;
        outline: none;
    }

    .home-page-section-six button {
        padding: 1% 3%;
        margin-top: 1%;
        border-radius: 5px;
        border: none;
        background: #F26334;
        color: white;
        font-family: "GothamMedium";
        transition: 0.5s ease-in-out;
    }

    .home-page-section-six button:hover {
        background: #ce5229;
    }

    /* Here Begins the css for the section ONE of the about us page*/

    .about-us-page-section-one {
        width: 100%;
        height: 58vh;
        background: #002C6C;
    }

    .left-padding-for-about-us {
        padding-top: 4%;
        padding-left: 12%;
        padding-bottom: 5%;
    }

    .about-us-page-section-one h1 {
        font-size: 40px;
        width: 50%;
        color: white;
        font-family: "Gotham-XThin";
        font-weight: 100;

    }

    .about-us-page-section-one p {
        color: white;
        padding-top: 2%;
        font-size: 14px;
        width: 50%;
        font-family: "Gotham-Thin";
        font-weight: 700;
    }

    /* Here Begins the css for the section ONE of the about us page*/

    .about-us-page-section-two {
        width: 100%;
        height: auto;
        background: #F4F4F4;
    }

    .about-us-page-section-two h1 {
        font-size: 28px;
        color: #002C6C;
        font-family: "Gotham-XThin";
        font-weight: 100;
        
    }

    .about-us-page-section-two p {
        width: 75%;
        padding-top: 2%;
        font-size: 15px;
        color: #212529;
        font-family: "Gotham-Thin";
        font-weight: 600;
        line-height: 24px;
    }

    /* Here Begins the css for the section ONE of the about us page*/

    .about-us-page-section-three {
        width: 100%;
        height: auto;
        background: white;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about-us-page-section-three h1 {
        font-size: 28px;
        color: #002C6C;
        font-family: "Gotham-XThin";
        font-weight: 100;
        padding-bottom: 4%;
    }

    .section-three-info-display-about-us-A {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .section-three-info-display-about-us img {
        width: 180%;
    }

    .section-three-info-display-about-us p {
        width: 60%;
        margin-left: 25%;
        font-size: 16px;
        font-family: "Gotham-Thin";
        font-weight: 600;
        color: #212529;
        line-height: 22px;
    }

    .section-three-info-display-about-us-B {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        text-align: center;
        padding-top: 1%;
        padding-bottom: 5%;
        width: 80%;
    }

    .section-three-info-display-about-us-B img {
        width: 90%;
    }

    .section-three-info-display-about-us-B p {
        width: 37%;
        margin: auto auto;
        font-family: "Gotham-Book";
        font-weight: 100;
        color: #212529;
        font-size: 14px;
    }

    .info-display-images-about-us {
        margin: 2% auto;
    }

    /* Here Begins the css for the section ONE of the about us page*/

    .about-us-page-section-four {
        width: 100%;
        height: auto;
        background:  #F4F4F4;
    }

    .section-four-info-displays-about-us {
        display: flex;
        flex-direction: row;
    }

    .about-us-page-section-four h1 {
        font-size: 28px;
        font-family: "Gotham-XThin";
        font-weight: 100;
        color: #002C6C;
        padding-bottom: 2%;
    }

    .about-us-page-section-four p {
        padding-top: 2%;
        font-size: 16px;
        width: 85%;
        font-family: "Gotham-Thin";
        font-weight: 600;
        color: #212529;
    }

    .section-four-info-text {
        display: flex;
        flex-direction: column;
    }


    .about-us-page-section-four img {
        width: 39%;
        margin-right: 10%;
    }

    /* Here Begins the css for the section FIVE of the about us page*/

    .about-us-page-section-five {
        width: 100%;
        height: auto;
        background: white;
    }

    .about-us-page-section-five h1 {
        font-size: 28px;
        font-family: "Gotham-XThin";
        font-weight: 100;
        color: #002c6c;
    }

    .about-us-page-section-five p {
        padding-top: 2%;
        font-size: 15px;
        width: 75%;
        font-family: "Gotham-Thin";
        font-weight: 600;
        color: #212529;
        line-height: 22px;
    }

    .about-us-page-section-five Button {
        margin-top: 50px;
    }

    .about-us-page-section-five Button a {
        
       font-family: 'Gotham-Book';
       
    }

    .learn {
        background: #ce5229;
        border: none;
        width: 17%;
        height: 42px;
        border-radius: 6px;
    }

    .learn a {
        color:  white; 
    }

    .become {
        background: white;
        border: 1px solid #ce5229;
        
        width: 17%;
        height: 42px;
        border-radius: 4px;
    }

    .become a {
        color: #ce5229;
    }




    .left-padding-for-about-us button {
        margin-top: 20px;
    }

    .left-padding-for-about-us button a {
        font-family: 'Gotham-Book';
    }


    .learnMore {
        background: #ce5229;
        border: none;
        width: 10%;
        height: 42px;
        border-radius: 6px;
        margin-right: 4px;
    }

    
    .learnMore a {
        color:  white; 
    }

 
    .subscribeTo {
       
        border: 1px solid #ce5229;
        
        width: 17%;
        height: 42px;
        border-radius: 4px;
    }

    .subscribeTo a {
        color: #ce5229;
    }

    


/*Barcodes Page begins here*/

.section-one-Barcodes {
    height: 65vh;
    width: 100%;
    color: #F0F5FA;
    background: #002b6c;
}

.left-padding-for-home {
    padding-top: 4%;
    padding-left: 8%;
}

.section-one-Barcodes h1 {
    font-size: 50px;
    color: #ffff;
    font-weight: 400;
    font-family: "GothamMedium";
}

.section-one-Barcodes p {
    font-size: 25px;
    padding-top: 2%;
    padding-bottom: 10%;
    font-family: "Gotham-XThin";
    font-weight: 600;
    color: #ffff;
    width: 70%;
}


/*Here begins section 2 of barcodes*/
.section-two-Barcodes {
    height: auto;
    width: 100%;
    background: #f0f5fa;
}

.left-padding-for-barcode {
    padding-top: 5%;
    padding-left: 8%;
    padding-bottom: 5%;
}


.display-one-bacodes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 0.1%;
}

.display-one-bacodes img {
    width: 70%;
}

.details-barcode {
    padding: 5%;
}

.details-barcode h2 {
    padding-bottom: 1%;
    font-family: "GothamMedium";
    font-weight: 300;
}

.details-barcode p {
    font-family: "Gotham-Thin";
    font-weight: 600;
    width: 70%;
}


    /* Industry  page info */

/* Industry section one information starts here*/

.section-one-industry {
    height: 55vh;
    width: 100%;
    background: #002C6C;
}

.section-one-industry h1 {
    font-size: 40px;
    color: #ffff;
    font-family: "Gotham-Thin";
    width: 50%;
    font-weight: 100;
}

.section-one-industry p {
    font-size: 15px;
    padding-top: 1%;
    padding-bottom: 2%;
    font-family: "Gotham-Book";
    font-weight: 100;
    color: #ffff;
    width: 70%;
}

.joinBtn {
    background: rgb(1 36 87);
    border: none;
    width: 7%;
    height: 42px;
    border-radius: 6px;
    margin-right: 4px;
    
}

.joinBtn a {
    color: #ffff;
    font-family: 'Gotham-Book';
}


/* section two of industries begins */

.section-two-industry {
    width: 100%;
    height: auto;
    background: #f0f5fa;
}

.left-padding-for-industries {
    padding-top: 5%;
    padding-left: 8%;
    padding-bottom: 5%;
   
}

.center-items {
    display: flex;
    justify-content: center;
}


.section-two-industry-display {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 2%;
    width: 1011px;
}

.industry-display-one {
    width: 100%;
    margin-bottom: 5%;
}

.industry-display-one img {
    width: 98%;
}

.display-details h2  {
    padding-bottom: 2%;
    font-family: "Gotham-Thin";
    font-weight: 100;
    font-size: 19px;
    color: #002c6c;
}

.display-details p  {
    font-family: "Gotham-Thin";
    font-weight: 600;
    color: #212529;
    font-weight: 700;
    width: 70%;
    font-size: 15px;
    line-height: 22px;
    width: 100%;
}

.display-details {
    padding: 4%;
}

/*Solutions Page Begins Here*/

.section-one-soltions {
    height: 65vh;
    width: 100%;
    background: #002b6c;
}

.section-one-soltions h1 {
    font-size: 50px;
    color: #ffff;
    font-family: "GothamMedium";
}

.section-one-soltions p {
    font-size: 20px;
    padding-top: 4%;
    padding-bottom: 6%;
    color: #ffff;
    font-family: "Gotham-Thin";
    font-weight: 600;
    width: 70%;
}


/*Section two solutions begins here*/

.section-two-soltions {
    height: auto;
    background: #F0F5FA;
}

.section-two-soltions h1 {
    padding-top: 5%;
    padding-bottom: 2.5%;
    font-family: "GothamMedium";
}

.section-two-soltions p {
    width: 70%;
    font-family: "Gotham-Thin";
    font-weight: 600;
    color: #002b6c;
}

.display-solutions {
    display: grid;
    grid-template-columns: repeat(2, 0.5fr);
    
}

.section-two-solutions-display {
    margin-bottom: 5%;
    width: 70%;
}

.display-details-solutions {
    padding: 2%;
}

.display-details-solutions h2 {
    font-family: "Gotham-Thin";
    font-weight: 600;
    margin-bottom: 1%;
}

.display-details-solutions p {
    font-size: 15px;
    width: 80%;
    font-family: "Gotham-Thin";
    font-weight: 600;
    color: #002b6c;
}

.section-two-solutions-display {
    padding-right: 5%;
}

.section-two-solutions-display img {
    width: 100%;
}


/*Section three solutions begins here*/

.section-three-soltions {
    height: auto;
    background: #F26334;
}

.section-three-soltions p {
    font-size: 20px;
    width: 70%;
    font-family: "Gotham-Thin";
    font-weight: 600;
    color: #ffff;
}

.section-three-soltions h1 {
    padding-bottom: 4%;
    font-family: "GothamMedium";
    color: #ffffff;
}

.solution-steps {
    padding-top: 5%;
}

.solution-steps h2 {
    padding-bottom: 0.5%;
    font-family: "Gotham-Thin";
    font-weight: 600;
    color: black;
    font-size: 20px;
}

.solution-steps p {
    padding-bottom: 2%;
    font-family: "Gotham-Thin";
    font-weight: 600;
    color: #ffff;
    font-size: 20px;
}

.solution-steps img {
    width: 35%;
    padding-bottom: 4%;
}

.section-three-soltions a {
    background: #002b6c;
    color: #ffffff;
    font-family: "Gotham-Thin";
    font-weight: 600;
    padding: 1% 5%;
    font-size: 13px;
    border: #002b6c solid 2.5px;
    font-weight: 600;
    border-radius: 5px;
    text-align: center;
    margin: 0 0.3%;
    transition: 0.5s ease-in;
    width: 25%;
}

.section-three-soltions a:hover {
    background: none;
    color: #002b6c;
    font-family: "Gotham-Thin";
    font-weight: 600;
}












    /* Here Begins the css for the section footer of the footer page*/

footer {
    width: 100%;
    height: 60vh;
    background: white;
}

.footer-displays {
    display: flex;
    flex-direction: row;
}

.footer-display {
    display: flex;
    flex-direction: column;
    padding-right: 5%;
}

.footer-display h2 {
    padding-bottom: 25%;
    font-family: "GothamMedium";
    font-size: 18px;
    color: #002b6c;
}

.footer-display a {
    padding-bottom: 10%;
    font-family: "Gotham-Thin";
    font-weight: 900;
    color: black;
}

.footer-display a:hover {
    text-decoration: underline;
}

}